// THIS IS TO MAKE BOX SHADOWS ALIGN WITH BOTTOM OF IMAGES
img {
    display: block;
}

// THIS IS PAGE 1 --------------->

.pageOneHeader{
    height: 80vh;
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: 10% 45%;
    max-height: 750px;
    // JUST TO SEE THE DIMENSIONS
    // border: 1px solid black;
}

.headerImageRight {
    position: absolute;
    bottom: 34%;
    right: 0;
    max-width: 600px;
    width: 45%
}

.headerImageRight img {
    max-height: 600px;
    box-shadow:  0 0 0 4.5rem $yellow;
    width: 100%;
}

// ABOUT PART TWO SECTION - GRID

.aboutImageOneContainer {
    width: 40%;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.aboutImageTwoContainer{
    width: 40%;
    position: relative;
    grid-column: -2 / -1;
    grid-row: -2 / -1;
}

    .aboutImageOne {
        position: absolute;
        left: -65%;
        top: -10%;
        box-shadow:  40px 30px 0 0 $yellow;
    }
    
    .aboutImageTwo {
        position: absolute;
        left: 54%;
        bottom: 25%;
        box-shadow:  -40px 35px 0 0 $yellow;
    }

    // ABOUT ICONS SECTION - FLEX

    // FORMATTING THE ICONS
    .fas {
        background-color: $green;
        background-size: 1rem;
        border-radius: 50%;
        font-size: 2.5rem;
        padding: 1rem;
        margin-right: 5px;
    }

    // MAPS BACKGROUND IMAGE

    // SET HEIGHT OF AREA FOR IMAGE
    .mapsBackgroundImage {
        height: 40vh;
        width: 100%;
        background-image: url(../assets/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    // ABOUT PART THREE - THIS MONTH PROFILE

    .tmpImage {
        box-shadow:  40px 30px 0 0 $yellow;
    }

// THIS IS PAGE 2 --------------->

// BLOG HEADER SECTION

.blogHeaderBackground {
    height: 50vh;
    width: 100%;
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

// BLOG MAIN SECTION

.blogPictureSection {
    height: 30vh;
    width: 100%;
    position: relative;
    background-color: $ice;

        .blogFlexContainer {
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;

              .blogLeftImageContainer {
                  position: absolute;
                  left: 0;
                  top: 10rem;
              }

              .blogRightImageContainer {
                  position: absolute;
                  right: 0;
                  bottom: 4rem;
                  box-shadow:  -4rem 4rem 0 0 $yellow;

                    .levitatingLens {
                        width: 100%;
                    }
              }
        }
}

.blogTextRightTop {
    box-shadow: 0rem 0rem 1rem 0rem $yellow;
}

// BLOG COMMENT + CONTACT SECTION
