// THIS IS TO MAKE BOX SHADOWS ALIGN WITH BOTTOM OF IMAGES
img {
    display: block;
}

header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-color: $backgroundColorOne;
    background-repeat: no-repeat;
    background-position: 10% 45%;
    max-height: 750px;
    height: 80vh;
    // JUST TO SEE THE DIMENSIONS
    // border: 1px solid black;
}

.headerImageRight {
    position: absolute;
    bottom: 34%;
    right: 0;
    max-width: 600px;
    width: 45%
}

.headerImageRight img {
    max-height: 600px;
    box-shadow:  0 0 0 4.5rem $pictureBorderColor;
    width: 100%;
}

// ABOUT PART TWO SECTION - GRID

.aboutImageOneContainer {
    width: 40%;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.aboutImageTwoContainer{
    width: 40%;
    position: relative;
    grid-column: -2 / -1;
    grid-row: -2 / -1;
}

    .aboutImageOne {
        position: absolute;
        left: -65%;
        top: -10%;
        box-shadow:  40px 30px 0 0 $pictureBorderColor;
    }
    
    .aboutImageTwo {
        position: absolute;
        left: 54%;
        bottom: 25%;
        box-shadow:  -40px 35px 0 0 $pictureBorderColor;
    }

    // ABOUT ICONS SECTION - FLEX

    // FORMATTING THE ICONS
    .fas {
        background-color: $buttonsNavLogosColor;
        background-size: 1rem;
        border-radius: 50%;
        font-size: 2.5rem;
        padding: 1rem;
        margin-right: 5px;
    }

    // MAPS BACKGROUND IMAGE

    // SET HEIGHT OF AREA FOR IMAGE
    .mapsBackgroundImage {
        height: 40vh;
        width: 100%;
        background-image: url(../assets/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    // ABOUT PART THREE - THIS MONTH PROFILE

    .tmpImage {
        box-shadow:  40px 30px 0 0 $pictureBorderColor;
    }

    // GALLERY SECTION 

    // FOOTER SECTION
    footer {
        height: 3vh;
        text-align: center;
        color: #FAFAFA;
        background-color: #2C2C2C;
        display: flex;
        justify-content: center;
        align-items: center;
    }

