@mixin fontStyles($font-size, $line-height, $font-color: #2C2C2C) {
    font-size: $font-size;
    line-height: $line-height;
    color: $font-color;
}

@mixin makeGrid($grid-columns, $grid-rows) {
    grid-template-columns: $grid-columns;
    grid-template-rows: $grid-rows;
}