// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;


html {
    font-size: 62.5%;
}

body {
    font-family: $primaryFont;
    @include fontStyles(2rem, 32px);
}

// APPLYING UPPERCASE TO TITLES + BUTTONS
h1,
h2,
h3,
a,
button {
    text-transform: uppercase;
}

.wrapper {
    // border: 2px dotted blue;
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
}


// SET STYLING FOR TITLE ELEMENTS


.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

// NAV BAR HEADER STYLES
// REPLACE DEFAULT STYLINGS ON NAV BAR ELEMENTS
.navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 0px;
    list-style: none;
}

.navBar ul li a {
    margin: 1.5rem 2.5rem;
    padding-bottom: 10px;
    @include fontStyles(2rem, 29px);
    letter-spacing: 1px;
    list-style: none;
    display: block;
    text-decoration: none;
}

.navBar ul li a:hover,
.navBar ul li a:focus {
    border-bottom: 4px solid $buttonsNavLogosColor;
    margin-bottom: 2%;
}

h1 {
    @include fontStyles(13.8rem, 0px);
    padding-bottom: 5rem;
    align-self: center;
    z-index: 10;
}

h2 {
    @include fontStyles(4.2rem, 0px);
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-family: $secondaryFont;
}

// ABOUT PART ONE - WHAT IS CAPTURED SECTION

.aboutPartOne {
    height: 50vh;
    background: $backgroundColorTwo;
    display: flex;
}

.flexContainerAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.button {
    font-family: $primaryFont;
    @include fontStyles(2rem, 32px);
    border: 1px solid transparent;
    background: $buttonsNavLogosColor;
    padding: 1rem;
    width: 20rem;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    border: 1px solid red;
}

// SKILLS + GEAR SECTIONS

// SET THE CONTAINER FOR GRID
.aboutPartTwo {
    height: 80vh;
    position: relative;
}

// SET THE 4 X 4 GRID
.gridContainerAbout {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.aboutImageOne,
.aboutImageTwo {
    position: absolute;
    left: 0%;
    top: -40px;
    width: 40%;
}



