$textColour: #2C2C2C;
$backgroundColorOne: #FAFAFA;
$backgroundColorTwo: #EFFDF3;
$buttonsNavLogosColor: #4CEEA7;
$pictureBorderColor: #FDFA69;

$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'Roboto', sans-serif;