@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 32px;
  color: #2C2C2C;
}

h1,
h2,
h3,
a,
button {
  text-transform: uppercase;
}

a {
  display: inline-block;
  line-height: 29px;
}

.navBar a {
  font-size: 2rem;
  line-height: 29px;
  color: #2C2C2C;
  letter-spacing: 1px;
  text-decoration: none;
}

h1 {
  font-size: 13.8rem;
  line-height: 0px;
  color: #2C2C2C;
}

h2 {
  font-size: 4.2rem;
  line-height: 0px;
  color: #2C2C2C;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-size: 3.2rem;
  line-height: 0;
  color: #2C2C2C;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto", sans-serif;
}

.button,
button {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 32px;
  color: #2C2C2C;
  text-decoration: none;
}

.fas {
  background-color: #4CEEA7;
  background-size: 1rem;
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 1rem;
  margin-right: 5px;
}

.blogTitle {
  font-size: 10rem;
}

.blogTextLeft h2 {
  font-size: 2.6rem;
  letter-spacing: 1.1px;
}

p {
  font-size: 1.8rem;
}

.recentPostsList {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}
.recentPostsList li {
  list-style: none;
}
.recentPostsList li::before {
  content: "•";
  color: silver;
  padding-right: 2rem;
}

.blogTextLeftContainer a {
  color: #2C2C2C;
  text-transform: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

.more {
  font-weight: bold;
}

.contactTitle {
  font-size: 10rem;
  text-align: center;
}

.contactIconContainer {
  letter-spacing: 1rem;
  font-size: 3.5rem;
  margin-top: 12rem;
}

.contactTextContainer {
  line-height: 1.5rem;
}
.contactTextContainer h2 {
  font-size: 2.6rem;
  line-height: 0px;
  color: #2C2C2C;
  letter-spacing: 1.1px;
  padding: 2rem 0;
}

img {
  display: block;
}

.headerImageRight {
  position: absolute;
  bottom: 34%;
  right: 0;
  max-width: 600px;
  width: 45%;
}

.headerImageRight img {
  max-height: 600px;
  -webkit-box-shadow: 0 0 0 4.5rem #FDFA69;
          box-shadow: 0 0 0 4.5rem #FDFA69;
  width: 100%;
}

.aboutImageOneContainer,
.aboutImageTwoContainer {
  width: 40%;
  position: relative;
}

.aboutImageOne {
  position: absolute;
  left: -65%;
  top: -10%;
  -webkit-box-shadow: 40px 30px 0 0 #FDFA69;
          box-shadow: 40px 30px 0 0 #FDFA69;
}

.aboutImageTwo {
  position: absolute;
  left: 50%;
  bottom: 25%;
  -webkit-box-shadow: -40px 35px 0 0 #FDFA69;
          box-shadow: -40px 35px 0 0 #FDFA69;
}

.mapsBackgroundImage {
  height: 40vh;
  width: 100%;
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.tmpImage {
  -webkit-box-shadow: 40px 30px 0 0 #FDFA69;
          box-shadow: 40px 30px 0 0 #FDFA69;
}

.blogHeaderBackground {
  height: 50vh;
  width: 100%;
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blogPictureSection {
  height: 30vh;
  width: 100%;
  position: relative;
  background-color: #EFFDF3;
}
.blogPictureSection .blogFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogPictureSection .blogFlexContainer .blogLeftImageContainer {
  position: absolute;
  left: 0;
  top: 10rem;
}
.blogPictureSection .blogFlexContainer .blogRightImageContainer {
  position: absolute;
  right: 0;
  bottom: 4rem;
  -webkit-box-shadow: -4rem 4rem 0 0 #FDFA69;
          box-shadow: -4rem 4rem 0 0 #FDFA69;
}
.blogPictureSection .blogFlexContainer .blogRightImageContainer .levitatingLens {
  width: 100%;
}

.blogTextRightTop {
  -webkit-box-shadow: 0rem 0rem 1rem 0rem #FDFA69;
          box-shadow: 0rem 0rem 1rem 0rem #FDFA69;
}

.contactHeaderBackground {
  height: 50vh;
  width: 100%;
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  border: none;
  border-bottom: 2px solid #4CEEA7;
  padding: 1.5rem 6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #EFFDF3;
}

textarea {
  resize: none;
  border: 2px solid #4CEEA7;
  background-color: #EFFDF3;
  display: block;
  width: 100%;
}

.submitOne {
  margin-top: 4rem;
  margin: 4rem 3rem 0 3rem;
  width: 100%;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
  opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
  opacity: 1;
}

.formContactSection {
  -webkit-box-shadow: -4rem 4rem 0 0 #FDFA69;
          box-shadow: -4rem 4rem 0 0 #FDFA69;
}

.inputOne {
  margin-right: 8rem;
}

.inputTwo {
  margin-left: 8rem;
}

.submitTwo {
  margin: 4rem 3rem 0 3rem;
  width: 90%;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 80%;
}

.pageOneHeader {
  height: 80vh;
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-color: #FAFAFA;
  background-repeat: no-repeat;
  background-position: 10% 45%;
  max-height: 750px;
}
.pageOneHeader .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.pageOneHeader .headerContainer h1 {
  padding-bottom: 5rem;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 10;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0px;
  list-style: none;
}

.navBar ul li a {
  margin: 1.5rem 2.5rem;
  padding-bottom: 10px;
  list-style: none;
  display: block;
}

.navBar a:hover,
.navBar a:focus {
  border-bottom: 4px solid #4CEEA7;
  margin-bottom: 2%;
}

.button,
button {
  border: 1px solid transparent;
  background: #4CEEA7;
  padding: 1rem;
  width: 20rem;
  text-align: center;
}

.button:hover,
button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.aboutPartOne {
  height: 50vh;
  background: #EFFDF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutPartOne .flexContainerAboutPartOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
}

.aboutPartTwo {
  height: 80vh;
  margin-bottom: -16rem;
}
.aboutPartTwo .gridContainerAbout {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.aboutPartTwo .gridContainerAbout .textContainerOne {
  width: 78%;
  margin: 8rem 0 0 14rem;
}
.aboutPartTwo .gridContainerAbout .textContainerOne a {
  margin-top: 1rem;
  width: 15rem;
}
.aboutPartTwo .gridContainerAbout .textContainerTwo {
  width: 80%;
  text-align: right;
}
.aboutPartTwo .gridContainerAbout .textContainerTwo p {
  text-align: left;
}

.iconsSection {
  height: 50vh;
  width: 100%;
  margin-bottom: -1rem;
  background-color: #EFFDF3;
}
.iconsSection .flexContainerIcons {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iconsSection .flexContainerIcons .flexIconColumnOne,
.iconsSection .flexContainerIcons .flexIconColumnTwo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.iconsSection .flexContainerIcons .flexIconColumnOne h3,
.iconsSection .flexContainerIcons .flexIconColumnTwo h3 {
  padding-left: 1rem;
  margin-bottom: 0;
}
.iconsSection .flexContainerIcons .flexIconColumnOne p,
.iconsSection .flexContainerIcons .flexIconColumnTwo p {
  padding-left: 7rem;
}

.aboutPartThree {
  height: 50vh;
  background-color: #EFFDF3;
}
.aboutPartThree .flexContainerAboutPartThree {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutPartThree .flexContainerAboutPartThree .tmpTextContainer {
  padding-left: 15rem;
}
.aboutPartThree .flexContainerAboutPartThree .tmpTextContainer .button {
  margin-top: 2rem;
}

.aboutGallery {
  height: 50vh;
  width: 100%;
  background-color: #FAFAFA;
}
.aboutGallery .flexContainerGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  height: 3vh;
  text-align: center;
  color: #FAFAFA;
  background-color: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogTitle {
  text-align: center;
  padding-top: 15rem;
}

.blogMain {
  background-color: #EFFDF3;
  height: 100%;
  width: 100%;
}
.blogMain .blogMainFlexContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMain .blogMainFlexContainer .blogMainLeftContainer {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.blogMain .blogMainFlexContainer .blogMainLeftContainer .blogTextLeftContainer {
  height: 95%;
  margin: 0 2rem;
}
.blogMain .blogMainFlexContainer .blogMainLeftContainer .blogTextLeftContainer .blogTextLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14rem 15rem -12rem 10rem;
}
.blogMain .blogMainFlexContainer .blogMainLeftContainer .blogTextLeftContainer .blogTextLeft h2 {
  padding-top: 1rem;
}

.blogMainRightContainer {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.blogMainRightContainer .blogTextRightTop {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}
.blogMainRightContainer .blogTextRightTop .blogTextRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 6rem 0 10rem;
}
.blogMainRightContainer .blogTextRightTop .blogTextRight p {
  margin: 0;
}
.blogMainRightContainer .blogTextRightTop .blogTextRight p.date {
  padding-bottom: 5rem;
}

.commentTextContainer {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 2rem 10rem;
}
.commentTextContainer .commentSectionTitle {
  padding: 1rem 2rem;
}
.commentTextContainer .commentSectionTop,
.commentTextContainer .commentSectionBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.commentTextContainer .commentSectionTop .commentImageOne,
.commentTextContainer .commentSectionBottom .commentImageOne {
  position: absolute;
  bottom: 13rem;
  left: 2rem;
}
.commentTextContainer .commentSectionTop .commentImageTwo,
.commentTextContainer .commentSectionBottom .commentImageTwo {
  position: absolute;
  bottom: 9rem;
  left: 2rem;
}
.commentTextContainer .commentSectionTop p,
.commentTextContainer .commentSectionBottom p {
  padding-left: 15rem;
}

.formSection {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formSection .postComment {
  border: 1px solid black;
}

.contactTitle {
  padding-top: 15rem;
  padding-left: 15rem;
}

main {
  height: 50vh;
  background-color: #EFFDF3;
}
main .contactMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .contactMainContainer .contactInformationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(30% - 3rem);
  height: 50%;
}
main .contactMainContainer .formContactSection {
  background-color: #EFFDF3;
  width: calc(60% - 3rem);
  height: 50%;
  position: absolute;
  right: 15rem;
  top: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .contactMainContainer .formContactSection .contactForm {
  margin: 0 8rem;
}

@media screen and (max-width: 600px) {
  .navBar {
    visibility: hidden;
  }

  .pageOneHeader {
    height: 50vh;
  }
  .pageOneHeader .headerContainer h1 {
    padding-bottom: 0;
  }

  .iconsSection {
    height: 200vh;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
    padding-bottom: 0;
  }

  h2 {
    font-size: 2rem;
  }

  .aboutPartTwo {
    height: 150vh;
  }
  .aboutPartTwo .unlockSkillsImg,
.aboutPartTwo .gettingNewGearImg {
    max-width: 500px;
    height: auto;
  }

  .textContainerOne h3,
.textContainerTwo h3 {
    font-size: 2.3rem;
  }

  .iconsSection {
    height: 120vh;
  }
  .iconsSection .flexContainerIcons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .iconsSection .flexContainerIcons h3 {
    font-size: 2rem;
  }

  .tmpTextContainer h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 7rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.7rem;
  }

  .headerImageRight {
    display: none;
  }

  .aboutPartThree {
    height: 80vh;
  }
  .aboutPartThree .flexContainerAboutPartThree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutPartThree .flexContainerAboutPartThree .tmpTextContainer {
    padding-left: 0;
    margin-top: 5rem;
  }
  .aboutPartThree .flexContainerAboutPartThree .tmpTextContainer h3 {
    font-size: 2.5rem;
  }

  .aboutGallery {
    height: 100vh;
  }
  .aboutGallery .flexContainerGallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 1200px) {
  .aboutPartTwo {
    height: 130vh;
  }
  .aboutPartTwo .gridContainerAbout {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 10rem;
  }
  .aboutPartTwo .gridContainerAbout .textContainerOne {
    width: 60%;
    margin: 5rem 0 0 5rem;
  }
  .aboutPartTwo .gridContainerAbout .textContainerTwo {
    width: 60%;
    margin: 5rem 0 5rem 5rem;
  }

  .aboutImageOneContainer,
.aboutImageTwoContainer {
    position: revert;
  }

  .aboutImageOne {
    position: revert;
    -webkit-box-shadow: 40rem 3rem 0 0 #FDFA69;
            box-shadow: 40rem 3rem 0 0 #FDFA69;
  }

  .aboutImageTwo {
    position: revert;
  }
}
@media only screen and (max-width: 992px) {
  .blogPictureSection {
    height: 65vh;
    position: relative;
  }

  .levitatingLens {
    max-width: 300px;
    height: auto;
    position: relative;
  }

  .ladyImage {
    max-width: 600px;
    height: auto;
  }
}
@media only screen and (max-width: 1460px) {
  h2 {
    font-size: 3rem;
  }

  .aboutCaptured h2 {
    font-size: 2rem;
  }

  .recentPosts {
    font-size: 2rem;
  }

  .blogTextRight {
    margin: 2rem 0rem 0rem 10rem;
  }
}